{% extends 'base.html.twig' %}

{% block title %}Super CMS!{% endblock %}

{% block body %}
    <div class="container-fluid w-50">
        <div class="d-flex justify-content-center shadow pt-3">
            <div class="h3" id="title">Welcome to the "CMS" system</div>
        </div>
        <div class="container-fluid pt-5 justify-content-center mw-25" id="viewDiv">
            <div class="h4 text-center">Choose what do you want to order</div>
            <div class="row justify-content-center text-center pt-4">
                <div class="col-sm-6">
                    <button type="button" id="flowers" data-url="{{ url('coffee_form')}}" class="form-url-flowers btn btn-lg btn-primary">Flowers</button>
                </div>
                <div class="col-sm-6">
                    <button type="button" id="coffee" data-url="{{ url('coffee_form')}}" class="form-url-coffee btn btn-lg btn-primary">Coffee</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
